<a href="https://colab.research.google.com/github/ingenziart/sokrab/blob/main/car_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#car analysis psudocode

In [6]:
# import library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
# export the datasets
df=pd.read_csv("name_of_df.csv")

In [5]:
#read the five up rows
df.head()

In [ ]:
#read the last five rows
df.tail()

In [ ]:
#check the type of the data
df.dtypes
df.info# both gives us the same result

In [ ]:
# droping the irrerevant datas

df=df.drop(["irreravent datafame"],axis=1)
# axis= 1 is culumn while axis =0 is gona affect rows

In [ ]:
#rename the culumns

df=df.rename(columns={"engen hp":"hp","engne cyinder":"cylinder"})

In [ ]:
#dupricate

dupricate=df[df.duplicated()]
print(dupricate)

In [ ]:
# removing duplictes
df.drop_duplicates()

In [ ]:
# find null df
df.isnull().sum()

In [ ]:
# drop null value

df=df.dropna()
print(df)

df[[""]]=df[[""]].replace(np.nan, "unkonwn")

In [ ]:
# vizualize top 40 car
df.make.value_counts().nlargest(40).plot(kind="bar",figsize=(10,5))